#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
.navbar {
	height : 35px;
	font-size: 16px;
	border-radius: 8px;
	background-color: #D8D8D8;
}

.navbar .navigation {
	height : auto;
	margin: 0px;
	padding: 8px 0px;
}

.navigation li {
	display: inline;
	padding: 20px;
}

.navigation a {
	color: white;
	font-weight: bolder;

}

.navigation #logout{
	float:right;
}

.HotPosts ul{
	/*border-radius: 8px;*/
	list-style-type: none;
	width: 100%;
	border-style: solid;
	border-width: 5px;	
	padding: 0px;
}


.HotPosts li {

} 
.HotPosts #postvotes{
	float:right;
	
}

.HotPosts #post_title{
	font-size: 200%;
	/*text-decoration: underline;*/
	border-bottom: 1px solid;
	padding-left: 10px;
	margin: 0px;

}
.HotPosts #post_content{
	min-height: 70px;
	/*border-style: solid;
	border-width: 1px;*/
	border-bottom: 1px solid;
	padding-left:10px;
	margin:0px;
}

.HotPosts #post_username{
	padding-left:10px;
}

.HotPosts #post_time{
	color: grey ;
	font-style: italic;
	padding-left:10px;
}

