<!DOCTYPE HTML>
<html>
<html>
<head>
	<title> Social News Platform </title>
	 <meta name= "viewport" contents = "width=device-width, initial-scale= 1.0">
	 <link href = "bootstrap/css/bootstrap.css" rel = "stylesheet">
	 <link href = "bootstrap/css/bootstrap-responsive.css" rel = "stylesheet">
	 <script src= "bootstrap/js.bootstrap.js"></script>
	<link type="text/css" rel = "stylesheet" href = "stylesheets/main.css"> 
</head>

<body>
		<div class = "row-fluid top-container">
			<div class = "span5">
				<h1> Social News Platform </h1>
			</div>
			<div class="span3 offset4 text-right signin-align">
				<span>{{ nickname }} <a href="{{ logout }}">logout</a></span>
			</div>
		</div>





</html>